body {
  margin: 0;
  font-family: 'Cormorant Garamond', serif;
  background-color: #000;
  color: #eaeaea;
  line-height: 1.6;
}

.container {
  max-width: 700px;
  margin: 50px auto;
  padding: 0 20px;
}

h1 {
  font-family: 'Didot', serif;
  font-weight: 400;
  font-size: 4em;
  color: #fff;
  text-align: center;
  margin-bottom: 1em;
}

h2 {
  font-family: 'Raleway Dots', sans-serif; /* optional, or replace with clean sans-serif */
  font-weight: 400;
  font-size: 2em;
  color: #fff;
  margin-top: 2em;
}

p {
  font-size: 1.2em;
  margin-bottom: 1em;
}

.media {
  margin: 20px 0;
}

img {
  max-width: 100%;
  display: block;
  margin: 20px 0;
}
