body {
  margin: 0;
  font-family: 'Didot', serif;
  background-color: #000;
  color: #eaeaea;
  line-height: 1.6;
}

.container {
  max-width: 700px;
  margin: 50px auto;
  padding: 0 20px;
}

h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2em;
  margin-top: 2em;
}

p {
  font-size: 1.2em;
}

.media {
  margin: 20px 0;
}

img {
  max-width: 100%;
  display: block;
  margin: 20px 0;
}
